body {
  background-color: black;
}

.menu{
  background-color: chartreuse;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.botonsinojal {
flex-direction: row;
background-color: blueviolet;
}
